html, body{
 height: 300vh;
 width: auto;
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
 display: flex;
 flex-direction: column;
}

.header{
 display: flex;
 margin: 0px;
 padding: 0px;
 flex-direction: column;
 align-items: center;
 background-color: #1F2937;
 height: 50vh; 
 width: auto;
}

.headerfirstpart{
 margin-bottom: 50px;
 padding: 0px;
 display: flex;
 gap: 1200px; 
 justify-content: space-between;
 align-items: center;
}

.logotext {
 font-size: 20px;
 font-weight: bold;
 color: white;
}

.headerlinks {
 font-size: 16px;
 color: white;
 font-weight: 100;
 text-decoration: none;

}

.headersecondpart{
 display: flex;
 gap: 40px;
}

.headersecondpartleftpart{
 display: flex;
 flex-direction: column;
 margin: 0px;
 justify-content: center;
}

.headerpart2sublogo{
 font-size: 32px;
 color: white;
 font-weight: bold;
 margin: 0px;

}

.headerpart2text {
 font-size: 17px;
 color: white;

}

.headersecondpartbutton{
 border: 0px;
 color: white;
 background-color: dodgerblue;
 font-size: 20px;
 padding: 5px;
 width: 6vw;
 border-radius: 8px;
 box-shadow: 1px 1px 10px rgb(0 0 0/.2);
}

.headersecondpartbutton:active {
 transform: translateY(4px);
 opacity: 50%;
}

.headersecondpartbutton:hover {
 cursor: pointer;
}



.headerimage{
 border-radius: 8px;
 box-shadow: 1px 5px 10px rgb(0 0 0/.3);
 display: flex;
}

.listsinheader{
 list-style-type: none;
 display: flex;
 gap: 20px;
}

.maincontent{
 background-color: white;
 height: 245vh;
 width: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.footer{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 2px;
 font-size: 20px;
 color: white;
 height: 6.5vh;
 width: auto;
 background-color: #1F2937;
}

.maincontentlist{
 display: flex;
 margin-top: 0px;
 padding: 5px;
 list-style-type: none;
 display: flex;
 gap: 50px;
 font-size: 20px;

}

.mainimages{
 display: block;
 margin-bottom: 16px;
 border-radius: 8px;
 height: 20vh;
 width: auto;
 box-shadow: 1px 1px 5px rgb(0 0 0/.4);
}

.headermaincontent{
 font-size: 36px;
 margin: 0px;
}
