html, body{
 height: 200vh;
 width: auto;
 box-sizing: border-box;
 margin: 0px;
 padding: 0px;
 display: flex;
 flex-direction: column;
}

.header{
 display: flex;
 margin: 0px;
 padding: 0px;
 flex-direction: column;
 align-items: center;
 background-color: #1F2937;
 height: 50vh; 
 width: auto;
}

.headerfirstpart{
 margin-bottom: 50px;
 padding: 0px;
 display: flex;
 gap: 1200px; 
 justify-content: space-between;
 align-items: center;
}

.logotext {
 font-size: 20px;
 font-weight: bold;
 color: white;
}

.headerlinks {
 font-size: 16px;
 color: white;
 font-weight: 100;
 text-decoration: none;

}

.headersecondpart{
 display: flex;
 gap: 40px;
}

.headersecondpartleftpart{
 display: flex;
 flex-direction: column;
 margin: 0px;
 justify-content: center;
}

.headerpart2sublogo{
 font-size: 32px;
 color: white;
 font-weight: bold;
 margin: 0px;

}

.headerpart2text {
 font-size: 17px;
 color: white;

}

.headersecondpartbutton{
 border: 0px;
 color: white;
 background-color: dodgerblue;
 font-size: 20px;
 padding: 5px;
 width: 6vw;
 border-radius: 8px;
 box-shadow: 1px 1px 10px rgb(0 0 0/.2);
}

.headersecondpartbutton:active {
 transform: translateY(4px);
 opacity: 50%;
}

.headersecondpartbutton:hover {
 cursor: pointer;
}



.headerimage{
 border-radius: 8px;
 box-shadow: 1px 5px 10px rgb(0 0 0/.3);
 display: flex;
}

.listsinheader{
 list-style-type: none;
 display: flex;
 gap: 20px;
}

.maincontent{
 background-color: white;
 height: 145vh;
 width: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.footer{
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 2px;
 font-size: 20px;
 color: white;
 height: 6.5vh;
 width: auto;
 background-color: #1F2937;
}

.maincontentlist{
 display: flex;
 margin-top: 0px;
 padding: 5px;
 list-style-type: none;
 display: flex;
 gap: 50px;
 font-size: 20px;

}

.mainimages{
 display: block;
 margin-bottom: 16px;
 border-radius: 8px;
 height: 20vh;
 width: auto;
 box-shadow: 1px 1px 5px rgb(0 0 0/.4);
}

.headermaincontent{
 font-size: 36px;
 margin: 0px;
}

.main2ndpart{
 display: flex;
 flex-direction: column;
 margin-top: 120px;
 height: 40vh;
 width: 100%;
 box-shadow: 1px 1px 10px rgb(0 0 0/.2);
 background-color: #dce1e8;
 border-radius: 5px;
 justify-content: center;
 align-items: center;
 margin-bottom: 10px; 
}

.quote2ndpart{
 display: flex;
 align-self: flex-end;
 padding-right: 200px

}



.quote{
 font-family: serif;
 font-size: 32px;
}

.quoteauthor{
 font-family: serif;
 font-size: 32px;
 font-weight: bold;

}

.ad{
 display: flex;
 padding-top: 10px;
 padding-left: 50px;
 margin-top: 100px;
 height: 150px; 
 background-color: dodgerblue;
 width: 1000px;
 margin-bottom: 100px;
 border-radius: 10px;
 justify-content: center;
 align-items: center;
 gap: 150px;
 box-shadow: 1px 1px 10px rgb(0 0 0/.2);

}

.adheader{
 font-size: 32px;
 margin: 0px;
 color: white;
 font-weight: bold;
}

.adtext{
 font-size: 23px;
 margin: 0px;
 color: white;
 font-weight: bold;

}

.adbttn{
 color: white;
 border-radius: 10px;
 padding: 5px;
 border: 2px solid white;
 font-size: 16px;
 background-color: dodgerblue;
 width: 100px;
}

.adbttn:active{
 transform: translateY(4px);
 opacity: 50%;
}

.adbttn:hover{
 cursor: pointer;	
}


